// lineHeightCrop（line-heightの不要な余白を打ち消す）のmixinのコード例。
// f-variables.scssという共通の変数定義用のscssファイルに記述して一元管理化しています。
@mixin lineHeightCrop($line-height) {
 &::before {
   display: block;
   width: 0;
   height: 0;
   margin-top: calc((1 - #{$line-height}) * .5em);
   content: "";
 }
 &::after {
   display: block;
   width: 0;
   height: 0;
   margin-bottom: calc((1 - #{$line-height}) * .5em);
   content: "";
 }
}

// // コード例
// // 要素ごとのセレクタに記述
// @include lineHeightCrop(2);
// @include lineHeightCrop(1.5);

// // 実際には以下のように変数で管理するほうが効率的です
// @include lineHeightCrop($leading-loose); // $leading-loose = 2
// @include lineHeightCrop($leading-tight); // $leading-tight = 1.5